.exchangeWidget {
  --content-width: 90%;
  --pointer-line-depth: 15px;
  --head-height: 40px;
  --bg-overlay-color: rgba(0, 0, 0, 0.3);
  background-color: var(--base-blue);
  color: var(--contrast-white);
}

@supports (background-blend-mode: soft-light) {
  .exchangeWidget {
    background-image: url('./../../assets/icons/subtlePrism.svg');
    background-blend-mode: soft-light;
    background-size: cover;
  }
}

.wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.partConvertFrom {
  padding-top: 16px;
  padding-bottom: 30px;
  min-height: calc(48vh - var(--head-height) / 2 + var(--pointer-line-depth));
  flex-shrink: 0;
  position: relative;
}

.partConvertFrom .navWrap {
  bottom: 30px;
}

.partConvertTo {
  background-color: var(--bg-overlay-color);
  padding-top: 22px;
  padding-bottom: 30px;
  min-height: calc(52vh - var(--head-height) / 2 - var(--pointer-line-depth));
  flex-shrink: 0;
  position: relative;
}

.partConvertTo::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: var(--pointer-line-depth);
  width: calc(50% + 5px);
  background-color: var(--bg-overlay-color);
  transform: translateY(-100%) translateX(-12px) skewX(45deg);
}

.partConvertTo::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: var(--pointer-line-depth);
  width: calc(50% + 5px);
  background-color: var(--bg-overlay-color);
  transform: translateY(-100%) translateX(12px) skewX(-45deg);
}

.container {
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  justify-content: space-between;
}

.currencyStateElem {

}

.heading {
  font-family: var(--bolder-text);
  font-weight: 500;
  display: block;
  font-size: 20px;
  line-height: 1;
}

.heading.off {
  opacity: 0;
}

.label {
  font-size: 12px;
  display: block;
  font-family: var(--base-fonts-stack);
  letter-spacing: 0.2px;
}

* + .label {
  margin-top: 7px;
}

.labelRight {
  text-align: right;
}

.label .small {
  font-size: 83%;
  padding-right: 3px;
  padding-left: 3px;
}

.sumInputWrap {
  position: relative;
}

.sumInputWrap:after {
  content: attr(data-value);
  display: inline-block;
  min-width: 20px;
  position: relative;
  right: 0;
  height: 100%;
  font-size: inherit;
  line-height: 1;
  color: transparent;
  z-index: 0;
  pointer-events: none;
}

.sumInput {
  border: none;
  background-color: transparent;
  width: 200px;
  color: inherit;
  text-align: right;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  position: absolute;
  top: -2px;
  right: 0;
  z-index: 1;
}

.sumInput:focus {
  outline: none;
}

.inputTip {
  position: absolute;
  width: 100px;
  right: 0;
  text-align: right;
  bottom: 3px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  z-index: 1;
}

.inputTip.on {
  opacity: 1;
}

.exchangeResult {
  text-align: right;
}

.navWrap {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  height: var(--head-height);
  text-align: right;
}

.exchangeBtn {
  cursor: pointer;
  background-color: transparent;
  color: var(--contrast-white);
  border-radius: 3px;
  border: 1px solid currentColor;
  padding: 5px 6px;
  font-size: 12px;
  margin-top: 5px;
  opacity: 1;
  margin-right: -6px;
  background-image: linear-gradient(to right, var(--bg-overlay-color) 0%, var(--bg-overlay-color) 85%, rgba(0,0,0,0));
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition-property: opacity, background-size;
  transition-duration: 250ms, 350ms;
}

.exchangeBtn:not([disabled]):hover {
  background-size: 120% 100%;
}

.exchangeBtn:focus {
  background-size: 120% 100%;
  outline: none;
}

.exchangeBtn[disabled] {
  opacity: 0.6;
}

@media (min-width: 400px) {
  .heading {
    font-size: 25px;
  }
}

@media (min-width: 740px) {
  .exchangeWidget {
    --content-width: 80%;
    --pointer-line-depth: 15px;
    --head-height: 50px;
    position: relative;
  }

  .heading {
    font-size: 32px;
  }

  .label {
    font-size: 16px;
  }

  * + .label {
    margin-top: 12px;
  }

  .exchangeBtn {
    padding: 8px 14px;
    font-size: 16px;
    margin-top: 12px;
    margin-right: -14px;
  }

  .partConvertFrom .navWrap {
    bottom: 35px;
  }

  .navWrap {
    bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .exchangeWidget {
    --content-width: 460px;
    --pointer-line-depth: 22px;
  }

  .wrap {
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .partConvertFrom, .partConvertTo {
    min-height: 100vh;
    width: 50%;
    padding-top: 120px;
    padding-bottom: 50px;
  }

  .partConvertTo::before {
    width: var(--pointer-line-depth);
    height: calc(50% + 5px);
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    transform: translateX(-100%) translateY(-14px) skewY(40deg);
  }

  .partConvertTo::after {
    width: var(--pointer-line-depth);
    height: calc(50% + 5px);
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    transform: translateX(-100%) translateY(14px) skewY(-40deg);
  }

  .heading {
    font-size: 38px;
  }

  .label {
    font-size: 20px;
  }

  .form {
    flex-direction: column;
  }

  .sumInput {
    text-align: left;
    width: 100%;
    position: static;
  }

  .inputTip {
    left: 0;
    text-align: left;
    width: 100%;
    position: static;
  }

  .sumInputWrap, .exchangeResult {
    margin-top: 24vh;
  }

  .sumInputWrap .sign {
    position: absolute;
    left: -45px;
  }

  .sumInputWrap::after {
    content: '';
    display: none;
  }

  .exchangeResult {
    text-align: left;
    position: relative;
  }

  .exchangeResult .sign {
    position: absolute;
    left: -32px;
  }

  .header {
    position: absolute;
    width: 50%;
    text-align: left;
    z-index: 2;
  }

  .exchangeBtn {
    font-size: 18px;
    padding: 8px 18px;
    margin-right: 0;
    margin-left: -18px;
    margin-top: 20px;
  }

  .navWrap {
    bottom: 35px;
  }
}
