.exchangeWidget {
  --content-width: 90%;
  --pointer-line-depth: 15px;
  background-color: var(--base-blue);
  color: var(--contrast-white);
  background-image: url('./../../assets/icons/subtlePrism.svg');
  background-blend-mode: soft-light;
  background-size: cover;
}

.wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.partConvertFrom {
  padding-top: 30px;
  padding-bottom: 30px;
  /*position: absolute;*/
  /*width: 100%;*/
  /*top: 0;*/
  /*left: 0;*/
  min-height: calc(50vh + var(--pointer-line-depth));
  flex-shrink: 0;
}

.partConvertTo {
  --bg-overlay-color: rgba(0, 0, 0, 0.3);
  background-color: var(--bg-overlay-color);
  padding-top: 15px;
  padding-bottom: 30px;
  /*position: absolute;*/
  /*width: 100%;*/
  /*left: 0;*/
  /*bottom: 0;*/
  min-height: calc(50vh - var(--pointer-line-depth));
  flex-shrink: 0;
  position: relative;
}

.partConvertTo::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: var(--pointer-line-depth);
  width: calc(50% + 5px);
  background-color: var(--bg-overlay-color);
  transform: translateY(-100%) translateX(-12px) skewX(45deg);
}

.partConvertTo::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: var(--pointer-line-depth);
  width: calc(50% + 5px);
  background-color: var(--bg-overlay-color);
  transform: translateY(-100%) translateX(12px) skewX(-45deg);
}

.container {
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  justify-content: space-between;
}

.currencyStateElem {

}

.heading {
  font-family: var(--bolder-text);
  font-weight: 500;
  display: block;
  font-size: 25px;
  line-height: 1;
}

.label {
  font-size: 12px;
  display: block;
  font-family: var(--base-fonts-stack);
}

* + .label {
  margin-top: 7px;
}

.labelRight {
  text-align: right;
}

.label .small {
  font-size: 80%;
}

.sumInputWrap {
  position: relative;
}

.sumInputWrap:after {
  content: attr(data-value);
  /*border-bottom: 1px solid var(--contrast-white);*/
  display: inline-block;
  min-width: 20px;
  position: relative;
  right: 0;
  height: 100%;
  font-size: inherit;
  line-height: 1;
  color: transparent;
  z-index: 0;
}

.sumInput {
  border: none;
  background-color: transparent;
  width: 200px;
  color: inherit;
  text-align: right;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  position: absolute;
  top: -2px;
  right: 0;
  z-index: 1;
}

.sumInput:focus {
  outline: none;
}

.inputTip {
  position: absolute;
  width: 100px;
  right: 0;
  text-align: right;
  bottom: 3px;
  transition-property: opacity;
  transition-duration: 200ms;
}

.inputTip.off {
  opacity: 0;
}

