* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--base-fonts-stack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--base-fontsize);
  font-weight: 400;
  color: var(--typography-dark);
  line-height: 1.2;
}

h1, h2, h3, h4, h5 {
  font-family: var(--title-fonts);
}

code {
  font-family: var(--code-snippet-fonts);
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}